<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css"> 
    <link rel="icon" href="../../public/img/images.png">
    <title>404 Title</title>
</head>
<body>
    <div class="main-content"> <!-- div.man-content + tab (whole syntax)-->
        {{>header}}  
         <p>{{errorMessage}} </p>    
    </div>

   
     {{>footer}}
</body>
</html>